# rm /etc/systemd/system/xdpfw.service && nano /etc/systemd/system/xdpfw.service
# systemctl daemon-reload && systemctl restart xdpfw
[Unit]
Description=XDP Firewall tool.
After=network-online.target
Requires=network-online.target

[Service]

# need to build first
# lsof | grep xdpfw | grep libmimalloc
Environment='LD_PRELOAD=/usr/local/lib/libmimalloc.so'

ExecStart=/usr/bin/xdpfw
ExecStopPost=/bin/bash -c "ip link set dev $(grep -E ^interface /etc/xdpfw/xdpfw.conf | sed -En 's/^.+=|[\"; ]//gp') xdp off"
Restart=always
# limitNice=-20
StandardOutput=append:/root/xdp_firewall.log

[Install]
WantedBy=multi-user.target
