# rm /etc/systemd/system/xdpfw.service && nano /etc/systemd/system/xdpfw.service
# systemctl daemon-reload && systemctl restart xdpfw
[Unit]
Description=XDP Firewall tool.
After=network-online.target
Requires=network-online.target

[Service]

IPAccounting=yes

# reduce memory
Environment="DBUS_VERBOSE=0"
Environment="MALLOC_ARENA_MAX=1"
Environment="MALLOC_TRIM_THRESHOLD_=65536"
Environment="MALLOC_MMAP_THRESHOLD_=65536"
# mimalloc
Environment="MIMALLOC_ALLOW_THP=0"
Environment="MIMALLOC_ALLOW_LARGE_OS_PAGES=0"
Environment="MIMALLOC_EAGER_COMMIT=0"
Environment="MIMALLOC_ARENA_EAGER_COMMIT=0"
Environment="MIMALLOC_ABANDONED_PAGE_PURGE=1"
Environment="MIMALLOC_ABANDONED_RECLAIM_ON_FREE=1"
Environment="MIMALLOC_MAX_SEGMENT_RECLAIM=100"
# Since each segment is typically around 32MiB
Environment="MIMALLOC_TARGET_SEGMENTS_PER_THREAD=1"

# need to build first
# lsof | grep xdpfw | grep libmimalloc
# Environment='LD_PRELOAD=/usr/local/lib/libmimalloc.so'

ExecStart=/usr/bin/xdpfw
ExecStopPost=/bin/bash -c "ip link set dev $(grep -E ^interface /etc/xdpfw/xdpfw.conf | sed -En 's/^.+=|[\"; ]//gp') xdp off"
Restart=always
# limitNice=-20
StandardOutput=append:/var/log/xdpfw.log

[Install]
WantedBy=multi-user.target
